@using PracticaCurso.Models;
@model ContactoViewModel
@{
    ViewData["Title"] = "Crear Contacto";
}

<h1>Contacto</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Index">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-action="Crear">Enviar</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}