@using PracticaCurso.Models;
@model CuentaViewModel

@{
    ViewData["Title"] = "Crear Cuenta";
}

<h1>Crear Cuenta</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Cuentas" asp-action="CrearCuenta" method="post">
    <div class="mb-3">
        <label asp-for="NumeroDeCuenta" class="form-label"></label>
        <input asp-for="NumeroDeCuenta" class="form-control" />
        <span asp-validation-for="NumeroDeCuenta" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoCuenta" class="form-label"></label>
        <select asp-for="TipoCuenta" class="form-select">
            @if (Model.TiposDeCuenta != null && Model.TiposDeCuenta.Any())
            {
                @foreach (var tipo in Model.TiposDeCuenta)
                {
                    <option value="@tipo.Value">@tipo.Text</option>
                }
            }
            else
            {
                <option value="">-- No hay tipos de cuenta disponibles --</option>
            }
        </select>
        <span asp-validation-for="TipoCuenta" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DineroEnCuenta" class="form-label"></label>
        <input asp-for="DineroEnCuenta" class="form-control" />
        <span asp-validation-for="DineroEnCuenta" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoDeTarjeta" class="form-label"></label>
        <input asp-for="TipoDeTarjeta" class="form-control" />
        <span asp-validation-for="TipoDeTarjeta" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DineroDisponibleTC" class="form-label"></label>
        <input asp-for="DineroDisponibleTC" class="form-control" />
        <span asp-validation-for="DineroDisponibleTC" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear Cuenta</button>
</form>
@* @section Scripts{
    <partial name="_ValidationScriptsPartial" />
<script>
        $(function () {
            $("#TipoCuenta").change(async function () {
                const valorSeleccionado = $(this).val();

                const respuesta = await fetch('', {
                    method: 'POST',
                    body: valorSeleccionado,
                    headers: {
                        'Content-Type': 'aplication/json'
                    }
                });
                const json = await respuesta.json();
                console.log(json);
            })
            })
</script>
} *@