@using PracticaCurso.Models;
@model CuentaViewModel
@{
    ViewData["Title"] = "Ver Cuentas";
}

<h1>Crear</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>